*.pid
.powrc
.ruby-version
.rvmrc
.secret
.DS_Store
ci.db
config/application.yml
config/database.yml
config/resque.yml
config/unicorn.rb
coverage/*
log/*
tmp/*
/.bundle
/db/*.sqlite3
/log/*.log
/vendor
