ci.db
config/application.yml
config/database.yml
log/*
tmp/*
*.pid
/.bundle
/db/*.sqlite3
/log/*.log
.powrc
.rvmrc
.DS_Store

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
config/resque.yml
var/repos
config/settings.yml
config/settings/*
