%h1 Projects:

- @projects.each do |project|
  - if project.status
    .alert.alert-success
      %h2 #{project.name} : SUCCESS
  - else
    .alert.alert-error
      %h2 #{project.name} : FAIL

- if @projects.empty?
  .alert
    No projects yet
