%ul.nav.nav-tabs.append-bottom-20
  %li
    = link_to 'Test (run in parallel)', project_jobs_path(@project)
  %li{class: "active"}
    = link_to 'Deploy (run on success)', deploy_jobs_project_jobs_path(@project)
 

%p.slead
  Deploy jobs are scripts you want CI to run on succeeding all parallel builds


= render 'deploy_job_edit'
