= content_for :title do
  %h3.project-title
    Runners

.alert.alert-info
  %strong To register new runner you should use next token
  %code #{GitlabCi::RunnersToken}

%p
  Runner is a process which run a build.
  You can setup as much runners as you need.
  %br
  Runners can be placed on separate users, servers,  even on your local machine
  %br

%table.table
  %tr
    %th ID
    %th Token
    %th Description
    %th Last build
    %th Projects
    %th Builds Stats
    %th Registered
    %th

  = render @runners
  = paginate @runners
