%p.slead
  A 'runner' is a process which runs a build.
  You can setup as many runners as you need.
  %br
  Runners can be placed on separate users, servers, and even on your local machine.

.bs-callout.help-callout
  %h4 How to setup a new project specific runner

  %ol
    %li
      Install GitLab Runner software.
      Checkout the #{link_to 'GitLab Runner section', 'https://about.gitlab.com/gitlab-ci/#gitlab-runner', target: '_blank'} to install it

    %li
      Use the following registration token during setup:
      %code #{@project.token}
    %li
      Start runner!


%table.table
  %thead
    %tr
      %th ID
      %th Runner token
      %th Description
      %th Last build
      %th Tags
      %th Registered
      %th

  = render @runners
= paginate @runners
