body {
  color:#666;
  margin-bottom:10px;
}

.right {
  float:right;
}

.project_box {
  color:#777;
  border: 1px solid #ddd;
  margin-right:20px;
  margin-bottom:20px;
  float:left;
  width:270px;
}

.project_box .alert {
  border-radius: 0;
}

.project_box .title {
  font-size:14px;
  line-height:28px;
  padding: 10px;
}

.project_box .body {
  padding:10px;
}

pre.trace {
  background: #000;
  color:#fff;
}
.navbar .navbar-inner { border-radius: 0; }

.builds .build.alert{
  margin-bottom: 6px;
}
