.bs-callout.help-callout
  %h4 How to setup CI for this project

  %ol
    %li
      Add at least one runner to the project.
      Go to #{link_to 'Runners page', project_runners_path(@project), target: :blank} for instructions.
    %li
      Setup at least one Job with a build script.
      Go to #{link_to 'Jobs page', project_jobs_path(@project), target: :blank} for instructions.
    %li
      Visit #{link_to 'GitLab project settings', @project.gitlab_url + "/services/gitlab_ci/edit", target: :blank}
      and press the "Test settings" button.
    %li
      Return to this page and refresh it, it should show a new build.
