.alert.alert-error
  %p
    Now you need Runners to process your builds.
  %span
    Checkout #{link_to 'runner repository', 'https://github.com/gitlabhq/gitlab-ci-runner#installation', target: '_blank'} to find out how install one


