.alert.alert-danger
  %p
    Now you need Runners to process your builds.
  %span
    Checkout #{link_to 'runner repository', 'https://gitlab.com/gitlab-org/gitlab-ci-runner/blob/master/README.md', target: '_blank'} to find out how install one


