= content_for :title do
  %h3.project-title
    Admin / Projects

%table.table
  %tr
    %th ID
    %th Name
    %th Last build
    %th Access
    %th Builds
    %th

  = render @projects

= paginate @projects

