= content_for :title do
  %h3.project-title
    Manage Projects

    .pull-right
      %small
        = pluralize(@projects.total_count, 'project')

%table.table
  %tr
    %th ID
    %th Name
    %th Last build
    %th Access
    %th Builds
    %th

  = render @projects

= paginate @projects

