= content_for :title do
  %h3.project-title
    Public projects

.bs-callout
  = link_to new_user_sessions_path(return_to: request.fullpath) do
    %strong Login
  to see your private projects

- if @projects.present?
  .projects
    %table.table
      %tr
        %th ID
        %th Name
        %th Last commit
        %th Access
        %th Commits
      = render @projects
  = paginate @projects
- else
  %h4 No public projects yet
