= content_for :title do
  %h3.project-title
    Public projects
.projects
  %table.table
    %tr
      %th ID
      %th Name
      %th Last build
      %th Access
      %th Builds
      %th Runners
    = render @projects
= paginate @projects

