= content_for :title do
  %h3.project-title
    Public projects

- if @projects.present?
  .projects
    %table.table
      %tr
        %th ID
        %th Name
        %th Last build
        %th Access
        %th Builds
      = render @projects
  = paginate @projects
- else
  %h4 No public projects yet
