%h2 Projects:
%br
- @projects.each do |project|
  .project_box
    .title
      %strong= project.name
    .alert{class: project_statuc_class(project) }
      - if project.last_build
        #{project.human_status}
        .right
          = time_ago_in_words project.last_build_date
          ago
      - else
        No builds yet
    .body
      = link_to 'Builds', project_path(project), class: 'btn btn-info btn-small'
      - if current_user
        .right
          %a.btn.btn-small{href: run_project_path(project)}  Run
          %a.btn.btn-small{href: edit_project_path(project)}
            %i.icon-edit
            Edit

- if @projects.empty?
  .alert
    No projects yet
