- if current_user
  = content_for :title do
    %h3.project-title
      GitLab projects

  .projects
    %p.fetch-status.light
      %i.icon-refresh.icon-spin
      Please wait while we fetch from GitLab (#{current_user.url})
  :javascript
    $.get("#{gitlab_projects_path}")
- else
  = render 'public'
