defaults: &defaults
  gitlab_server_urls:
    # Replace with your gitlab server url
    - 'https://gitlab.example.com/'

  ## Gitlab CI settings  
  gitlab_ci:
    ## Web server settings
    host: localhost
    port: 80
    https: false

    ## Email settings
    # Email address used in the "From" field in mails sent by GitLab-CI
    email_from: gitlab-ci@localhost
  
    # Email address of your support contact (default: same as email_from)
    support_email: support@localhost
  
    # Default project notifications settings: 
    #
    # Send emails only on broken builds (default: true)
    # all_broken_builds: true
    # 
    # Add committer to recipients list (default: false)
    # add_committer: true
    
  gravatar:
    enabled: true
    plain_url: "http://www.gravatar.com/avatar/%{hash}?s=%{size}&d=mm"
    ssl_url:   "https://secure.gravatar.com/avatar/%{hash}?s=%{size}&d=mm"


development:
  <<: *defaults

test:
  <<: *defaults
  gitlab_server_urls:
    - 'http://demo.gitlab.com/'

production:
  <<: *defaults
