.navbar-static-top {
  margin-bottom: 20px;
}

.navbar-ci {
  background: $style_color;

  .navbar-brand {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
  .brand,
  .nav > li > a {
    color: #fff;
    text-shadow: 0 1px 0 #167;

    &:hover, &:focus, &:active {
      background: none;
    }
  }

  .profile-holder {
    position: relative;

    img {
      position: absolute;
      top: -2px;
      width: 24px;
      @include border-radius(4px);
    }

    span {
      margin-left: 35px;
    }
  }
}

.turbolink-spinner {
  position: absolute;
  top: 11px;
  left: 50%;
  color: #FFF;
  font-size: 20px;
}
