.hero-unit
  %h2
    GitLab CI
    %span= GitlabCi::Version
    %small= GitlabCi::Revision
  %small
    GitLab CI integrates with your GitLab installation and run tests for your projects.
    %br
    Login with GitLab account, add project with one click and enjoy running tests.
    %br
    Read more about GitLab CI at #{link_to "gitlab.org", "http://gitlab.org/gitlab-ci/", target: "_blank"}.
