%form.form-horizontal{ action: '/login', method: 'post' }
  .control-group
    %label{for: 'name'} Email
    %input{type: 'text', name: 'email', class: 'input-xxlarge', required: true}
  .control-group
    %label{for: 'path'} Password
    %input{type: 'password', name: 'password', class: 'input-xxlarge', required: true}

  %hr
  %input.btn.btn-success{type: 'submit', value: 'Login'}
