@import "bootstrap";
@import "font-awesome";
@import "xterm";

$style_color: #289;

.navbar-static-top {
  margin-bottom: 20px;
}

body {
  color:#444;
  font-size: 13px;
}

a {
  color: $style_color;

  &:hover {
    color: #3AB;
  }
}

.sidebar {
  border-left: 1px solid #eee;
  padding-left: 20px;
}

.navbar-ci {
  .navbar-inner {
    padding: 4px;
    background: $style_color;

    .brand,
    .nav > li > a {
      color: #fff;
      text-shadow: 0 1px 0 #167;
    }
  }
}

.container-fluid {
  padding: 0 50px;
}

.right {
  float:right;
}

.light {
  color: #888;
}

pre.trace {
  background: #000;
  color:#fff;
  font-family: 'Menlo', 'Liberation Mono', 'Consolas', 'Courier New', 'andale mono','lucida console',monospace;
  white-space: pre;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  overflow: auto;
  overflow-y: hidden;
  font-size: 12px;
}

.autoscroll-container {
  margin-bottom: 5px;
}

.builds {
  @extend .table;

  .build {
    &.alert{
      margin-bottom: 6px;
    }
    td {
      border-bottom: 1px solid #fff;
    }
  }
}

.btn {
  &.btn-primary {
    background: #29a;
    border:1px solid #279;
    padding: 4px 20px;
  }

  &.btn-danger {
    background: #D33;
    border:1px solid red;
    text-shadow: 0 1px 0 #D44;
  }
}

.form-actions {
  background: none;
}

h3.error { color: #B94A48; }

.padded {
  padding: 20px;
}

.token_widget {
  @extend .alert;
  input {
    padding: 5px;
    margin: 5px;
  }
}

.bold {
  font-weight: bold;
}
.black {
  color: black;
}
.red {
  color: red;
}
.green {
  color: #0E0;
}
.yellow {
  color: yellow;
}
.blue {
  color: blue;
}
.magenta {
  color: magenta;
}
.cyan {
  color: cyan;
}
.white {
  color: white;
}
.grey {
  color: grey;
}

.bordered {
  border: 1px solid #DDD;
  @include box-shadow(0 0 0 3px #eee);
}

fieldset {
  legend {
    font-size: 18px;
  }
}

.lead {
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.1;
  color: #555;
}

.profile-holder {
  position: relative;

  img {
    position: absolute;
    top: -2px;
    width: 24px;
    @include border-radius(4px);
  }

  span {
    margin-left: 35px;
  }
}

td form {
 margin: 0;
}

.cgreen {
  color: #090;
}

.cred {
  color: #900;
}

.thumbnail.screenshot {
  padding: 20px;
  background: #AAA;
}

.login-box {
  width: 400px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin: auto;
  padding: 20px;
  background: white;

  input[type="email"], input[type="password"], input[type="text"], select {
    width: 250px;
  }
}

.table {
  th {
    background: #eee;
    background-image: -webkit-gradient(linear, 0 0, 0 30, color-stop(0.066, #eee), to(#dfdfdf));
    background-image: -webkit-linear-gradient(#eee 6.6%, #dfdfdf);
    background-image: -moz-linear-gradient(#eee 6.6%, #dfdfdf);
    background-image: -o-linear-gradient(#eee 6.6%, #dfdfdf);
    border-bottom: 1px solid #CCC;
  }
}

.project-title {
  margin: 0;
}

.nav-stacked {
  li.active a {
    font-weight: bold;
    background: $style_color;
    color: #FFF;

    &:hover {
      background: $style_color;
      color: #FFF;
    }
  }

  a {
    background: #f9f9f9;
  }
}

.well-list {
  @extend .unstyled;
  li {
    padding: 6px 0;
    border-bottom: 1px solid #EEE;

    form {
      margin: 0;
    }
  }
}

.sync-now {
  &:hover {
    text-decoration: none;
  }
}
