= image_tag gravatar_icon(current_user.email, 120), class: 'img-polaroid'
%h3
  Hi, #{@user.name}

  - if @user.is_admin
    %span.label.label-success Admin

.profile-block
  %p
    %span.light Email:
    %strong= @user.email

  %p
    %span.light GitLab profile:
    %strong= link_to @user.username, @user.url + '/u/' + @user.username, target: "_blank"
