.container
  - if alert || notice
    - if alert
      .alert= alert
    - if notice
      .alert.alert-info= notice

  - if current_user && current_user.is_admin && Runner.count.zero?
    = render 'shared/no_runners'
